:root{
    --week-schedule-width:400px;
    --week-schedule-border-color:lightcoral;
    --week-schedule-head-color:lightslategray;
    --week-schedule-border-radius:10px;
}

.week-schedule{
    width: var(--week-schedule-width);
    border-radius: var(--week-schedule-border-radius);
    border: 1px solid var(--week-schedule-border-color);
    padding: 3px;
    margin: 3px;

    .selected-week-number{
        background-color: darkblue;
    }
}