:root {
    --mutable-list-with-tabs-width: 400px;
    --mutable-list-with-tabs-border-color: lightcoral;
    --mutable-list-with-tabs-head-color: lightslategray;
    --mutable-list-with-tabs-add-button-side-length: 35px;
    
}

.mutable-list-with-tabs {
    display: table;
    position: relative;
    border: 1px solid var(--mutable-list-with-tabs-border-color);
    padding: 3px;
    margin: 3px;
    border-radius: 10px;
    >.body {
        display: table;
        width: var(--mutable-list-with-tabs-width);

        > .title{
            color: var(--mutable-list-with-tabs-head-color);
            border-bottom: 1px dashed var(--mutable-list-with-tabs-border-color);
            margin-bottom: 4px;
            padding-bottom: 2px;
        }

        >.tabs {
            display: flex;
            align-content: space-between;
            flex-direction: row;
            width: 100%;
            padding-bottom: 4px;
            >.tab{
                flex-grow: 1;
                margin: 1px;
                border-color: var(--mutable-list-with-tabs-border-color);
                color: var(--mutable-list-with-tabs-border-color);
            }
            >.current-tab{
                background-color: darkblue;
            }
        }
        > .items-display{
            position: relative;
            border: 1px dashed var(--mutable-list-with-tabs-border-color);
            border-radius: 10px;
            height: 280px;
            margin-bottom: 55px;
            display: block;
            >.new-element-display{
                background-color: #fffd;
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                border-radius: 10px;
            }
            >.new-element-display-hidden{
                display: none;
            }
            overflow-y: auto;
        }

    }

    > .add-button {
        position: absolute;
        bottom: 10px;
        right: 10px;

        width: var(--mutable-list-with-tabs-add-button-side-length);
        height: var(--mutable-list-with-tabs-add-button-side-length);

        cursor: pointer;

        ellipse {
            fill: transparent;
            stroke: lightcoral;
            stroke-width: 1px;
        }

        path {
            stroke: lightcoral;
            stroke-width: 1px;
        }
    }

    > .add-button:hover {
        ellipse {
            stroke: darkseagreen;
        }

        path {
            stroke: darkseagreen;
        }
    }

    > .add-button:active {
        ellipse {
            stroke: lightseagreen;
        }

        path {
            stroke: lightseagreen;
        }
    }
    > .all-as-selected-item{
        width: 60px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        border-radius: 40px;
    }
}