.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.flex-items-horizontally-centered{
    display: flex;
    justify-content: center;
}
.a-link{
    color: var(--link-color);
    opacity: 1.0;
    padding: 0px 3px;
    border-bottom: 1px solid var(--link-color);
    border-top: 1px solid var(--link-color);
    border-radius: 4px;
    margin: 1px 2px;
    cursor: pointer;
}
.a-link:hover{
    opacity: 0.85;
}
.a-link:active{
    opacity: 0.60;
}
.a-label{
    padding: 2px 0px;
    color: var(--label-color);
}
.padding-right{
    padding-right: 8px;
}
.padding-left{
    padding-left: 8px;
}
.border-bottom-dashed{
    border-bottom: 0.2px dashed var(--schedule-border-color);
}
.table-head {
    padding-bottom: 3px;
    color: var(--schedule-head-color);
    font-weight: 400;
}
.display-table{
    display: table;
}
.grid-3x4{
    flex: 1;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 3px;
}
.width-50{
    position: relative;
    width: 50%;
}
.width-100{
    position: relative;
    width: 100%;
}
.margin-right{
    margin-right: 5px;
}
.display-table{
    display: table;
}
.a-title{
    font-size: 11pt;
    color:  var(--listed-course-title-color);
    border-bottom: 1px solid var(--listed-course-title-color);
    border-top: 1px solid var(--listed-course-title-color);
    border-radius: 4px;
}
.a-delete-btn{
    color: orangered;
    border-color: orangered;
}