/* TODO:css quarantine */
:root{
    --label-color:darkcyan;
    --link-color:#979b64;
    --border-color:lightslategray;
}
.listed-course{
    position: relative;
    box-sizing: border-box;
    margin: 2px;
    padding: 2px 5px;
    font-size: 9pt;
    width: calc(100% -4px);
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid var(--border-color );
    border-radius: 10px;
}