:root {
    --schedule-width: 400px;
    --schedule-border-color: lightcoral;
    --head-color: lightslategray;
}

.schedule {
    display: table;
    border: 1px solid var(--schedule-border-color);
    padding: 3px;
    margin: 3px;
    border-radius: 10px;
}
.border-bottom-dashed{
    border-bottom: 0.2px dashed var(--schedule-border-color);
}
.table-head {
    padding-bottom: 3px;
    color: var(--head-color);
    font-weight: 400;
}
.display-table{
    display: table;
}
.schedule-table{
    width: var(--schedule-width);
}