:root {
    --schedule-width: 400px;
    --schedule-border-color: lightcoral;
    --schedule-head-color: lightslategray;
}

.schedule {
    display: table;
    border: 1px solid var(--schedule-border-color);
    padding: 3px;
    margin: 3px;
    border-radius: 10px;
    .schedule-table{
        width: var(--schedule-width);
    }
}
